*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: fixed;
    width: 100%;
    height: 100%;
}


canvas{
    border: 1px solid lightgray;
}

.theGame{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.theScore{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 1rem;
    font-family: Aerial, sans-serif;
    font-weight: bolder;
    font-size: 3rem;
}